{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h2>{{ category.name }}</h2>
    <p>{{ category.description }}</p>

    <h5>Posts</h5>
    <ul class="list-group">
        {% for post in category.posts %}
            <li class="list-group-item">
                <a href="{{ path('app_ui_post_show', {'post': post.id}) }}">{{ post.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <h5>Comments</h5>
    <comment :entity="'category'" entity-id="{{ category.id }}"></comment>
{% endblock %}
