{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <a class="btn btn-success" href="{{ path('app_ui_category_new') }}">New</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <th scope="row">{{ category.id }}</th>
                <td>
                    <a href="{{ path('app_ui_category_show', {'category': category.id}) }}">{{ category.name }}</a>
                </td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('app_ui_category_edit', {'category': category.id}) }}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('app_ui_category_remove', {'category': category.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
