<template>
    <div>
        <form v-on:submit.prevent="onSubmit(entity, entityId)">
            <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" v-model="comment.author">
                <small class="form-text text-muted" v-if="errors.author">{{ errors.author }}</small>
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control" v-model="comment.content"></textarea>
                <small class="form-text text-muted" v-if="errors.content">{{ errors.content }}</small>
            </div>

            <button class="btn btn-secondary" type="submit">Save</button>
        </form>
        <hr>
        <ul class="media-list">
            <li class="media" v-for="comment in comments">
                <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{ comment.createdAt | moment("from", "now") }}</small>
                                </span>
                    <strong class="text-success">{{ comment.author }}</strong>
                    <p>
                        {{ comment.content }}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</template>
<script>
    import axios from 'axios'
    export default {
        props: ['entity', 'entityId'],
        data: function () {
            return {
                comments: [],
                comment: {
                    author: null,
                    content: null,
                },
                errors: {
                    author: null,
                    content: null,
                }
            }
        },
        mounted() {
            this.getComments(this.entity, this.entityId)
        },
        methods: {
            getComments: function (entityType, entityId) {
                axios.get(`/api/comment/${entityType}/${entityId}`, {
                    headers: { 'content-type': 'application/json' }
                }).then((response) => {
                    this.comments = response.data
                })
            },
            onSubmit: function (entityType, entityId) {
                axios.post(`/api/comment/${entityType}/${entityId}`, this.comment,
                    {
                        headers: { 'content-type': 'application/json' }
                    }
                ).then((response) => {
                    this.comments.unshift(response.data);
                    this.comment = {author: null, content: null};
                    this.errors = {author: null, content: null};
                }).catch((error) => {
                    this.errors = error.response.data.form.children;
                })
            },
        }
    }
</script>
<style scoped>
    .comment-wrapper .panel-body {
        max-height:650px;
        overflow:auto;
    }

    .comment-wrapper .media-list .media img {
        width:64px;
        height:64px;
        border:2px solid #e5e7e8;
    }

    .comment-wrapper .media-list .media {
        border-bottom:1px dashed #efefef;
        margin-bottom:25px;
    }
</style>
