{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h2>{{ post.name }}</h2>
    <p>{{ post.content }}</p>

    {% if post.file %}
        <a href="{{ asset(post.file) }}" target="_blank">File</a>
    {% endif %}

    <h5>Comments</h5>
    <comment :entity="'post'" entity-id="{{ post.id }}"></comment>
{% endblock %}
