{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <a class="btn btn-success" href="{{ path('app_ui_post_new') }}">New</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <th scope="row">{{ post.id }}</th>
                <td>
                    <a href="{{ path('app_ui_post_show', {'post': post.id}) }}">{{ post.name }}</a>
                </td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('app_ui_post_edit', {'post': post.id}) }}">Edit</a>
                </td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('app_ui_post_remove', {'post': post.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
