<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand">
                <a href="{{ path('app_ui_category_list') }}">Categories</a>
            </span>
            <span class="navbar-brand">
                <a href="{{ path('app_ui_post_list') }}">Posts</a>
            </span>
            {% for item in getBrowserStats() %}
                <span class="navbar-brand">{{ item.browser }} - {{ item.count }}</span>
            {% endfor %}
        </nav>
        <div id="app" class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
